# Backend Production Environment Variables
NODE_ENV=production
PORT=8080
MONGODB_URI=
FRONTEND_URL=https://lankacare.me
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
NIC_ENCRYPTION_KEY=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
SMS_PROVIDER=
SMS_API_KEY=
